*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 80%;
    margin: auto;
    clear: both;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 4rem;
}
h1{
    color: #e05a8e;
    font-size: 50px;
    margin-bottom: 5rem;
}

p{
    font-weight: 500;
    font-size:  25px;
    margin-bottom: 3rem;
}


.label{
    background-color: black;
    color: aliceblue;
    display: inline-block;
    height: 150px;
    width:calc(92%/3);
    float: left;
    text-align: left;
    margin: 30px 20px;
    box-shadow: 10px 10px 20px grey;
}


span{
    display: inline-block;
    line-height: 50px;
    margin-left: 3rem;
    vertical-align:bottom;   
}

img{
    height: 150px;
}

a{
    display: inline-block;
    text-decoration: none;
    color: rgb(89, 214, 255);
    font-size: 20px;
}

span>div{
    font-size: 20px;
}